@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #FFF7EE;
}
.navbarTitle{
    color: #282828;
}

.navbarbg{
    display: flex;
    align-items: center;
    background: #282828;
    height: 80px;
    width: 100%;
    margin-top: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

.yellow-line{
    background-color: #323232;
    width: 70%;
    height: 1px;
    opacity: 100%;
    margin: 20px auto;
    z-index: 4;
}
.music-bar-line{
    margin: 10px auto;
}
.music-bar-line-top{
    margin-top: 100px;
}
.music-bar-line-bottom{
    margin-bottom: 100px;
}
.logo{
    width: 150px;
    margin-left: 80px;
}

.navbarmenu{
    color: #ffffff;
    padding: 0px 20px;
    margin: 0 10px;
    border: 0;
    background: none;
    font-family:AXIS,Helvetica, sans-serif;
    font-size: 14px;
}

.navbarlogin{
    color: #ffffff;
    padding: 8px 20px;
    margin: 0 20px;
    border: 5px;
    border: solid;
    border-radius: 20px;
    background: #f08f2700;
    font-family:AXIS,Helvetica, sans-serif;
    font-size: 15px;
}
.musicbarbutton{
    color: #383838;
    padding: 8px 20px;
    border: 2px;
    border: solid;
    border-radius: 20px;
    background: #f08f2700;
    font-family:AXIS,Helvetica, sans-serif;
    font-size: 15px;
    position: absolute;
    right: 20%;
}

.navbarmenubuttons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 2%;
}

.slidebg{
    background-color: antiquewhite;
    width: 100%;
    height: 400px;
    
    display: flex;
    align-items: center;
    background: #282828;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.slide1{
    width:100%;
    height: auto;
    object-fit: cover;
    z-index: 2;
}

.searchbg{
    background-color: #20202000;
    border: solid;
    border-color: #282828;
    padding: 5px 10px;
    width: 50%;
    height: 40px;
    border-radius: 500px;
    margin:  20px auto;
    position: relative;
    display: flex;
}

.searchtxt{
    color: #6A6A6A;
    font-family:AXIS,Helvetica, sans-serif;
    margin-left: 20px;
}

.searchbutton{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 7px;
    right: 25px;
}

.searchbar{
    background: none;
    width: 60%;
    border: none;
    color: #6A6A6A;
    font-family:AXIS,Helvetica, sans-serif;
    margin-left: 20px;
    font-size: 20px;
    padding: 10px;
    
    
}

.searchbar:focus{
    outline: none;
    border: none;
    color: aliceblue;
  }


.allcoursesbarbg{

    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}


.allcoursesbutton{
    color: #020202;
    font-family:AXIS,Helvetica, sans-serif;
    background-color: #F09027;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 0;    
}
.music-rectangle{
    margin-left: 20%;
}

a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.whitebg{
    top: -80px;
    width: 100%;
    z-index: -2;
    opacity: 100%;
    position: absolute;
}

.whitebgdiv{
    display: flex;
    flex-direction: column;
    position: relative;
}

.musicbarbg{
    display: flex;
    align-items: center;
    background: #f5a65200 ;
    position: relative;
}
.musicicon{
    width: 80px;
    align-items: center;
    position: inherit;
    padding: 0 30px;

}

.musicbartxt{    
    padding-left: 0 80px;
}

.statsbarbg{
    display: flex;
    align-items: center;
    background: #7DEDED ;
    height: 120px;
    width: 100%;
    margin-top: 0;
    padding: 0;
    position: relative;
    flex-wrap: wrap;
}
.statsbg{
    display: flex;
    align-items: center;
}
.stats-image{
    width: 70%;
    height: auto;
    margin: auto;
    padding: 50px;
    padding-bottom: 0;
}
.statsbutton{
    
    padding:10px;
    margin: 0 132px;
    border: 0;
    background: none;
    font-family:AXIS,Helvetica, sans-serif;
    font-size: 15px;
}

.coursecardimage{
    padding: 0px;
    width: 200px;
    height: 200px;
    

}
.red-rectangle{

    width: 25px;
    height: 25px;
    padding: 10px;
}

.displaycourses-cards{
    display: flex;
    margin-top: 30px;
}

.displaycourses-title{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.topcourses-title-text{
    font-size: 25px;
    font-family:AXIS,Helvetica, sans-serif;   
}
.displaycourses{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap ;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;

}

.coursecarddetails{
    background-color: #353535;
    width: 200px;
    text-align: center;
    color: #ffffff;
    align-self: center;
    border-radius: 0 0 5px 5px;
    font-family:AXIS,Helvetica, sans-serif;
}

.coursecarddetails:active{
    text-decoration: none;
    color: #494949;
}
.displaycourseslink:visited{
    text-decoration: none;
    color: #ffffff;
}
.displaycourseslink:link{
    text-decoration: none;
    color: #bf2727;
}

.coursecard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    position: relative;
    border: none 3px rgb(39, 39, 39);
    margin: 10px 20px;
    border-radius: 8px;

}
.coursecard img{
    border-radius: 8px 8px 0 0;
}


.topcategorybg{
    background-image: "./src/images/topcategorybg.png";
    background-size: cover; 
    background-color: #bf2727;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 100%;
    font-family:AXIS,Helvetica, sans-serif;
    
}

.topcategory-buttons-all{
    display: flex;
}

.topcategory-buttons1{
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}

.topcategory-buttons2{
    display: flex;
    flex-direction: column;
    margin: 0 200px;
}

.categorytext{
    padding-top: 3%;
    padding-bottom: 2%;
    font-size: 20px;
    color: #ffffff;
}

.allcoursesbutton{
    z-index: 2;
    color: #020202;
    font-family:AXIS,Helvetica, sans-serif;
    background-color: #F09027;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-left: 80px;
    border: none;
}

.topcategogybutton{
    border: none;
    color: #ffffff;
    background-color: #02020200;
    padding: 15px;
    margin: 10px;
    font-family:AXIS,Helvetica, sans-serif;
    border-radius: 8px;
}

.footer{
    background-color: #242424;
    height: 500px;
}

.contact-us{
    display: flex;
    flex-direction: column;
}

.contact-us-form{
    display: flex;
    flex-direction: column;
}
.contact-us-text{
    font-family:AXIS,Helvetica, sans-serif;
    font-size: 40px;
    padding: 0 10px 0 30px;
    margin-bottom: 30px;
    color: #ffffff;
}
.contact-us-input{
    width: 35%;
    color: #ffffff;
    background-color: #02020200;
    margin: 10px;
    margin-left: 30px;
    border: solid 1px;
    border-radius: 5px;
    height: 50px;
    padding: 0 20px;
}

.message-input{
    height: 200px;
    position: relative;
}

.message-input::placeholder{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}
.message-input[type="text"]{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}